<%= form_with(model: variant) do |form| %>
  <% if variant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
        <% variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :pars, style: "display: block" %>
    <%= form.text_field :pars %>
  </div>

  <div>
    <%= form.label :length, style: "display: block" %>
    <%= form.number_field :length %>
  </div>

  <div>
    <%= form.label :course_id, style: "display: block" %>
    <%= form.number_field :course_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
