<div id="<%= dom_id variant %>">
  <p>
    <strong>Name:</strong>
    <%= variant.name %>
  </p>

  <p>
    <strong>Pars:</strong>
    <%= variant.pars %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= variant.length %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= variant.course_id %>
  </p>

</div>
