<div class="stack-left col-12" data-controller="varedit">
  <div class="title">Edit Variant</div>
  <%= form_with(model: @variant) do |form| %>
    <% if @variant.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

        <ul>
          <% @variant.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="row-left col-9">
    <%= form.text_field :name, class:"form-field", value: @variant.name %>
  </div>

  <% if @variant.pars %>
    <% parray = @variant.pars.split('') %>
    <div class="stack-center col-wide">
        <div class="row-center">
          <div class="subtitle">#</div>
          <div class="subtitle">Par</div>
        </div>
        <% (0..8).each do |x| %>
          <div class="row-center">
            <div class="subtitle"><%= x + 1 %></div>
            <%= form.text_field :pars, class:"form-field", data_input_target:"paredit" %>
          </div>
        <% end %>
        <% if @variant.length == 18 %>
          <% (9..17).each do |x| %>
          <div class="row-center">
            <div class="subtitle"><%= x + 1 %></div>
            <%= form.text_field :pars, class:"form-field", data_input_target:"paredit" %>
          </div>
          <% end %>
        <% end %>
    </div>
  <% end %>

  <%= form.submit "Update", class:"btn-flat" %>

  <div class="btn-group">
    <%= link_to "Back to Course", @course, class:"group-button" %>
    <%= link_to "Home", home_profile_path, class:"group-button" %>
  </div>
  <% end %>

  <div class="row-left">
    <%= button_to "Delete", @variant, method: :delete, class:"btn-sm-danger" %>
  </div>
</div>