<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= course.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= course.state %>
  </p>

  <p>
    <strong>User:</strong>
    <%= course.user_id %>
  </p>

</div>
