<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div class="container-alert" data-controller="alert">
      <div class="alert" role="alert">
        <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
        <ul>
          <% course.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        <button class="btn-close" data-action="alert#close" aria-label="Close"><i class="fa-solid fa-x"></i></button>
      </div>
    </div>
  <% end %>
  <div class="stack-center col-8">
    <%= form.text_field :name, class:"rail-field", placeholder:"Course Name" %>
    <%= form.text_field :city, class:"rail-field", placeholder:"City" %>
    <%= form.text_field :state, class:"rail-field", placeholder:"State" %>
    <%= form.number_field :user_id, id: :course_user_id, value:current_user.id, type: :hidden %>
    <%= form.submit class:"btn-flat" %>
  </div>
<% end %>