<div class="stack-center col-12">
  <div class="row-center">   
    <h2 class="title">Edit Course</h2>
  </div>
  <div class="row-center">  
    <%= render "form", course: @course %>
  </div>
    <br>

  <div class="btn-group">
    <%= link_to "Show Course", @course, class:"group-button" %>
    <%= link_to "Your Courses", courses_path, class:"group-button" %>
    <%= link_to "Home", home_profile_path, class:"group-button" %>
  </div>
  <div class="row-left">
    <%= button_to "Delete", @course, method: :delete, class:"btn-sm-danger" %>
  </div>
</div>