<div id="<%= dom_id card %>">
  <p>
    <strong>Shots:</strong>
    <%= card.shots %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= card.length %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= card.score %>
  </p>

  <p>
    <strong>User:</strong>
    <%= card.user_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= card.course_id %>
  </p>

  <p>
    <strong>Variant:</strong>
    <%= card.variant_id %>
  </p>

</div>
